.stack {
  display: inline-grid;
  place-items: center;
  align-items: flex-end;
}

.stack > * {
  grid-column-start: 1;
  grid-row-start: 1;
  transform: translateY(-15%) scale(0.85);
  z-index: 1;
  width: 100%;
  opacity: 0.6;
}

.stack > *:nth-child(3) {
  transform: translateY(-10%) scale(0.9);
  z-index: 2;
  opacity: 0.8;
}

.stack > *:nth-child(2) {
  transform: translateY(-5%) scale(0.95);
  z-index: 3;
  opacity: 1;
}

.stack > *:nth-child(1) {
  transform: translateY(0) scale(1);
  z-index: 4;
  opacity: 1;
}
