@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 87 38% 100%;
    --foreground: 87 72% 2%;
    --muted: 87 18% 91%;
    --muted-foreground: 87 13% 32%;
    --popover: 87 38% 100%;
    --popover-foreground: 87 72% 2%;
    --card: 87 38% 100%;
    --card-foreground: 87 72% 2%;
    --border: 87 4% 90%;
    --input: 87 4% 90%;
    --primary: 87 65% 64%;
    --primary-foreground: 87 65% 4%;
    --secondary: 87 13% 92%;
    --secondary-foreground: 87 13% 12%;
    --accent: 87 13% 92%;
    --accent-foreground: 87 13% 12%;
    --destructive: 21 89% 39%;
    --destructive-foreground: 0 0% 100%;
    --ring: 87 65% 64%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 87 33% 3%;
    --foreground: 87 18% 98%;
    --muted: 87 18% 9%;
    --muted-foreground: 87 13% 68%;
    --popover: 87 33% 3%;
    --popover-foreground: 87 18% 98%;
    --card: 87 33% 3%;
    --card-foreground: 87 18% 98%;
    --border: 87 4% 10%;
    --input: 87 4% 10%;
    --primary: 87 65% 64%;
    --primary-foreground: 87 65% 4%;
    --secondary: 87 17% 15%;
    --secondary-foreground: 87 17% 75%;
    --accent: 87 17% 15%;
    --accent-foreground: 87 17% 75%;
    --destructive: 21 89% 52%;
    --destructive-foreground: 0 0% 0%;
    --ring: 87 65% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
