@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 152 38% 99%;
    --foreground: 152 60% 3%;
    --muted: 122 30% 85%;
    --muted-foreground: 122 12% 27%;
    --popover: 152 38% 99%;
    --popover-foreground: 152 60% 3%;
    --card: 132 38% 89%;
    --card-foreground: 152 60% 3%;
    --border: 152 3% 90%;
    --input: 152 3% 90%;
    --primary: 152 34% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 151, 100%, 25%;
    --secondary-foreground: 0 0% 100%;
    --accent: 182 34% 41%;
    --accent-foreground: 0 0% 100%;
    --destructive: 3 86% 38%;
    --destructive-foreground: 3 86% 98%;
    --ring: 152 34% 41%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 159 65% 4%;
    --foreground: 159 10% 97.5%;

    --muted: 159 50% 15%;
    --muted-foreground: 159 10% 55%;

    --popover: 159 45% 6.5%;
    --popover-foreground: 159 10% 97.5%;

    --card: 159 45% 6.5%;
    --card-foreground: 159 10% 97.5%;

    --border: 159 50% 15%;
    --input: 159 50% 15%;

    --primary: 159 100% 50%;
    --primary-foreground: 159 10% 5%;

    --secondary: 159 50% 15%;
    --secondary-foreground: 159 10% 97.5%;

    --accent: 159 50% 15%;
    --accent-foreground: 159 10% 97.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 159 100% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
